@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Atomic Red Team";
    ViewBag.Explanation = "Atomic Red Team is a test library that contains tests based on the MITRE ATT&CK Framework";
    ViewBag.UpperPageName = "Learn";
    ViewBag.UpperRoute = "/Learn";
}

<partial name="_Breadcrumbs" />

<div class="container">
    <h4 class="p-4 px-0">Atomic Red Team</h4>

    <p>One of the studies related to MITRE ATT&CK Framework is "Atomic Red Team" developed by Red Canary.</p>
    <p>Atomic Red Team is a test library that contains tests based on the MITRE ATT&CK Framework, making it easy to access and perform the tests.
    </p>
    <br />
    <p>Cybersecurity experts can use Atomic Red Team to run the tests they target easily, quickly and repeatable in their personal environments. There is no need to download any process to run these tests in the personal environment.</p>
    <p>Additionally, Atomic Red Team has a Ruby API option that allows it to validate the tests made through the API and to prepare a document accordingly.</p>
    <br />
    <p>All of the test scripts on this website are taken from Atomic Red Team Test Library.</p>
    <br />
    <div class="p-4 px-0">
        <a href="/Learn/Mitre">MITRE ATT&CK</a>
        <br /><br />
        <a href="/Techniques">The techniques we use</a>
    </div>

</div>