@{
	ViewData["Title"] = "Learn";
	ViewBag.PageName = "Learn";
	ViewBag.UpperPageName = "Home";
	ViewBag.UpperRoute = "/Home";
	ViewBag.Explanation = "You can learn all about the MITRE ATTACK, techniques or the tests we provide here.";
}

<partial name="_Breadcrumbs" />

<div class="container">
	<h3 class="p-4 px-0">Learn</h3>

	<p>Here, you will go on a journey of learning about cyber security. Feel free to start with any topic below.</p>

	<ul class="p-5 px-2">
		<li><p><a href="/Learn/Mitre">MITRE ATT&CK</a></p></li>
		<li><p><a href="/Learn/AtomicRedTeam">Atomic Red Team</a></p></li>
		<li><p><a href="/Techniques">The techniques we use</a></p></li>
	</ul>
</div>