@{
	ViewData["Title"] = "Test Result";
	ViewBag.PageName = "Test Not Implemented";
	ViewBag.UpperPageName = "Tests";
	ViewBag.UpperRoute = "/Tests/";
}

<partial name="_Breadcrumbs" />

<div class="container">
	<h1 class="mt-5">This test is not implemented yet.</h1>
	<a class="p-5" asp-action="Index">Go to history</a>
</div>