@{
	ViewData["Title"] = "Test Result";
	ViewBag.PageName = "Test Not Implemented";
	ViewBag.UpperPageName = "Tests";
	ViewBag.UpperRoute = "/Tests/";
}

<partial name="_Breadcrumbs" />

<div class="container">
	<h2 class="p-4 px-0 header">The test is not implemented yet.</h2>

	<p>The test you are trying to execute is not implemented yet. Please try again later or if you think there is something wrong, feel free to <a href="/Contact">contact us.</a></p>
	
	<div class="pt-3 p-5 px-0">
	<a asp-action="Index">Go to history</a>
	</div>
</div>