@{
	ViewData["Title"] = "Test Result";
	ViewBag.PageName = "Test Failed";
	ViewBag.UpperPageName = "Tests";
	ViewBag.UpperRoute = "/Tests/";
}

<partial name="_Breadcrumbs" />

<div class="container">
	<h2 class="p-4 px-0 header">The test failed</h2>
	
	<p>The test could not be executed on your device. Try again later or <a href="/Contact">contact us</a> for support.</p>
	
	<div class="pt-3 p-5 px-0">
	<a asp-action="Index">Go to history</a>
	</div>
</div>