@{
	ViewData["Title"] = "Test Result";
	ViewBag.PageName = "Device Vulnerable";
	ViewBag.UpperPageName = "Tests";
	ViewBag.UpperRoute = "/Tests/";
}

<partial name="_Breadcrumbs" />

<div class="container">
	<h1> YOUR DEVICE IS VULNERABLE</h1>
	<a asp-action="Index">Go to history</a>
</div>