@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
    ViewBag.PageName = "Account";
    ViewBag.UpperPageName = "Home";
    ViewBag.UpperRoute = "/Home";
    ViewBag.Explanation = "You can edit your account details here";
}

<partial name="_Breadcrumbs" />

<div class="container">
    <div class="section-header">
        <span>Manage your account</span>
        <h2>Manage your account</h2>
    </div>
    <div>
        <h3>Change your account settings</h3>
        <hr />
        <div class="row">
            <div class="col-0 col-md-5">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-7">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
