<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2 data-aos="fade-up">Keeping your computer safe all the time</h2>
                <p data-aos="fade-up" data-aos-delay="100">Tech research and advisory firm Gartner estimated that spending on information security and risk management will cost a total of $172 billion in 2022, up from $155 billion in 2021 and $137 billion the year before. We provide vulnerability tests, totally free and available anytime and anywhere.</p>



                <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-4 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="74" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Companies</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-4 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="856" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Computers</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-4 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="86" data-purecounter-duration="1" class="purecounter"></span>
                            <p>% Breach</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="~/images/illustration.png" class="img-fluid mb-3 mb-lg-0" alt="">
            </div>

        </div>
    </div>
</section><!-- End Hero Section -->

<section id="featured-services" class="featured-services">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-virus"></i></div>
                <div>
                    <h4 class="title">Cyber Threats</h4>
                    <p class="description">Cybersecurity is the practice of protecting systems, networks, and programs from digital attacks. These cyberattacks are usually aimed at accessing, changing, or destroying sensitive information.</p>
                    <a href="/Learn" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-brain"></i></div>
                <div>
                    <h4 class="title">Awareness</h4>
                    <p class="description">It is getting more and more common to be attacked by some kind of cyber threat actor each day. The imporant part is that you may never realise that you have been attacked. Spread the word and the awareness.</p>
                    <a href="/Learn" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-shield-halved"></i></div>
                <div>
                    <h4 class="title">How to protect yourself</h4>
                    <p class="description">There are a lot of ways to protect yourself from getting harmed by cyber attacks. The first, and the most important one is to be aware of the risks and behave accordingly especially online. The second is that if you do not really know what you are doing, you should probably buy and use an antivirus program.</p>
                    <a href="/Learn" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section><!-- End Featured Services Section -->
<!-- ======= Services Section ======= -->
<section id="service" class="services pt-0">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <span>What We Do For You</span>
            <h2>What We Do For You</h2>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/concepts.png" alt="" class="img-fluid">
                    </div>
                    <h3><a href="/Learn" class="stretched-link">Teaching The Concepts</a></h3>
                    <p>We provide information about the tactics and the techniques used by adversaries to attack your computer. This way you can understand what we do to protect you from those threat actors.</p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/tests.png" alt="" class="img-fluid">
                    </div>
                    <h3><a href="/Tests" class="stretched-link">Vulnerability Tests</a></h3>
                    <p>We provide one-click vulnerability tests for anyone who has internet access. We display and store the results for you.</p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/support2.png" alt="" class="img-fluid">
                    </div>
                    <h3><a href="/Contact" class="stretched-link">Support and Advisory</a></h3>
                    <p>If you have any kind of trouble running the tests, or you are not happy with the results, you can contact us anytime. We are happy to support you and guide you through the process of getting your shields up.</p>
                </div>
            </div><!-- End Card Item -->

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3>Run Vulnerability Tests</h3>
                <p> You can execute the vulnerability tests just by clicking a button without any need of setup. We will run the scripts on your computer and show the results to you.</p>
                <a class="cta-btn" href="/Tests/Index">Go to Tests</a>
            </div>
        </div>

    </div>
</section><!-- End Call To Action Section -->


<section id="features" class="features">
    <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

            <div class="col-md-5 p-md-5">
                <img src="~/images/sign-in.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
                <h3>Create an account - Sign in</h3>
                <p class="fst-italic">
                    To run the tests we provide, you have to be signed in to your account. This way, we can keep your results and help you through the process if needed.
                </p>
                <ul>
                    <li><i class="bi bi-check"></i> Create an account</li>
                    <li><i class="bi bi-check"></i> Sign in</li>
                </ul>
            </div>
        </div>

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2 p-5">
                <img src="~/images/run-tests.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1">
                <h3>Run the tests</h3>
                <p class="fst-italic">
                    After you sign in, you can display all the tests we provide and see the details of each test.
                </p>
                <p>
                    When you are done reading and understanding the procedures, you can run the tests and see the results immediately.
                </p>
            </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5">
                <img src="~/images/contact-us.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
                <h3>Contact us for support and advisory</h3>
                <p>Now that you have the results, you may or may not be happy about them. We hope that you are, but no matter what the results are, feel free to contact us and have a chat about your results. If there are actions needed we are going to help you through the process.</p>
                <ul>
                    <li><i class="bi bi-check"></i> Get your results</li>
                    <li><i class="bi bi-check"></i> Contact us</li>
                    <li><i class="bi bi-check"></i> Take the necessary actions to protect your computer</li>
                </ul>
            </div>
        </div><!-- Features Item -->

    </div>
</section><!-- End Features Section -->
    
@Html.PartialAsync("_Testimonials").Result;

@Html.PartialAsync("_FAQ").Result;