@using AttackOnDotnetMvcCore.Models
@model Tuple<List<Test>,List<Technique>, List<Platform>>

@{
    ViewData["Title"] = "Index";
    ViewBag.PageName = "Tests";
    ViewBag.Explanation = "Here are the tests we provide to run on your machine";
    ViewBag.UpperPageName = "Home";
    ViewBag.UpperRoute = "/Home/";
}

<partial name="_Breadcrumbs" />
<div class="container">
    @if(User.IsInRole("admin")) {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }

    <section id="horizontal-pricing" class="horizontal-pricing pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header mt-4">
                <span>Vulnerability Tests</span>
                <h2>Vulnerability Tests</h2>

            </div>

            @foreach (var test in Model.Item1)
            {
                <div class="row gy-3 pricing-item mt-4 p-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <h3>@test.Name</h3>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h6>@Model.Item2.Where(technique => technique.ID == test.TechniqueID).FirstOrDefault()?.Name</h6>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h5>@Model.Item3.Where(platform => platform.ID == test.PlatformID).FirstOrDefault()?.Name</h5>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <div class="text-center"><a href="/Tests/Details/@test.ID" class="buy-btn">See Test Details</a></div>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <div class="text-center"><a href="/Tests/Permission/@test.ID" class="buy-btn">Run Test</a></div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

