@{
    ViewBag.Title = "Techniques";
}

<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Techniques We Use</h2>
                    <p>
                        A lot of techniques are covered by MITRE ATT&CK framework. Here are some techniques that we have used.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="/Mitre/Index">MITRE ATTA&CK</a></li>
                <li>Techniques</li>
            </ol>
        </div>
    </nav>
</div>

<section class="sample-page">
    <div class="container" data-aos="fade-up">
        <p>The tests on this website are all based on these techniques</p>

        <section id="horizontal-pricing" class="horizontal-pricing pt-0">
            <div class="container" data-aos="fade-up">

                <div class="section-header mt-4">
                    <span>Techniques</span>
                    <h2>Techniques</h2>

                </div>

                <div class="row gy-1 pricing-item mt-4 p-1" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h3>T1059</h3>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h6>Command And Scripting Interpreter</h6>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h5>Execution</h5>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <ul>
                            <li>Linux</li>
                            <li>Network</li>
                            <li>Windows</li>
                            <li>macOS</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <div class="text-center"><a href="/Mitre/Technique/1059" class="buy-btn">See Technique Details</a></div>
                    </div>
                </div>

                <div class="row gy-2 pricing-item mt-4 p-2" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h3>T1202</h3>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h6>Indirect Command Execution</h6>
                    </div>
                    <div class="col-lg-2 d-flex align-items-center justify-content-center">
                        <h5>Defense Evasion</h5>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <ul>
                            <li>Windows</li>
                        </ul>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center justify-content-center">
                        <div class="text-center"><a href="/Mitre/Technique/1202" class="buy-btn">See Technique Details</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>