@{
    ViewData["Title"] = "Index";
}
@if (IsSectionDefined("scripts"))
{
    RenderSection("scripts");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Attack on .NET</title>
    <meta content="Attack on Dotnet is a website that you can run vulnerability tests which are suitable to MITRE Att&ck Matrices" name="description">
    <meta content="cyber security mitre attack vulnerability test atomic red team att&ck dotnet csharp c#" name="keywords">

    <!-- Favicons -->
    <link href="/Logis/assets/img/favicon.png" rel="icon">
    <link href="/Logis/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Logis/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Logis/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Logis/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/Logis/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Logis/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/Logis/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Logis/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Logis - v1.3.0
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/Home" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="/Logis/assets/img/logo.png" alt=""> -->
                <h1>Attack on .NET</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a href="/Home">Home</a>
                    </li>
                    <li>
                        <a href="/About">About</a>
                    </li>

                    <li class="dropdown">
                        <a href="/Learn"><span>Learn</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="/Learn/Mitre">What is MITRE ATT&CK</a></li>
                            <li class="dropdown">
                                <a href="/Techniques"><span>Techniques We Use</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="/Techniques/Details/1059">Technique T1059</a></li>
                                    <li><a href="/Techniques/Details/1202">Technique T1202</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Contact">Contact</a>
                    </li>
                    <partial name="_LoginPartial" />
                    <li>
                        <a href="/Tests" class="get-a-quote">Run Tests</a>
                    </li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header>

    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="/Home" class="logo d-flex align-items-center">
                        <span>Attack On .NET</span>
                    </a>
                    <p>Vulnerability tests accessible anytime, anywhere. Run tests on your computer. Take action. Protect yourself.</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/About/Index">About us</a></li>
                        <li><a href="/Contact/Index">Contact</a></li>
                        <li><a href="/Mitre/Index">Mitre Attacks</a></li>
                        <li><a href="/Tests/Index">Run Tests</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        Şehbender Sk No:14 <br>
                        Beyoğlu, İstanbul, 34430<br>
                        Turkey <br><br>
                        <strong>Phone:</strong> +90 212 292 7314<br>
                        <strong>Email:</strong> info@attackon.net<br>
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>AttackOn.NET</span></strong> All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/Logis/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Logis/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/Logis/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Logis/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/Logis/assets/vendor/aos/aos.js"></script>
    <script src="/Logis/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Logis/assets/js/main.js"></script>

</body>

</html>
