@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="/Account/Manage/Index">Account</a>
        <ul>
            <li>
                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a href="#" onclick="submitForm()">Logout</a>
                </form>
            </li>
        </ul>
    </li>
    <script>
        function submitForm() {
            document.getElementById("logoutForm").submit();
    }</script>
    
}
else
{
    <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    </li>
}

