@using AttackOnDotnetMvcCore.Models
@model List<Tuple<Technique,List<string>>>

@{
    ViewData["Title"] = "Index";
    ViewBag.PageName = "Techniques";
    ViewBag.Explanation = "Here are the techniques we use";
    ViewBag.UpperPageName = "Home";
    ViewBag.UpperRoute = "/Home/Index";
}

@Html.PartialAsync("_Breadcrumbs").Result;

<section class="sample-page">
    <div class="container" data-aos="fade-up">
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <section id="horizontal-pricing" class="horizontal-pricing pt-0">
            <div class="container" data-aos="fade-up">

                <div class="section-header mt-4">
                    <span>Techniques</span>
                    <h2>Techniques</h2>
                </div>

                @foreach(var tuple in @Model) { 
                    <component type="typeof(AttackOnDotnetMvcCore.Components.Technique)"
                           render-mode="Static"
                           param-ID="tuple.Item1.ID"
                           param-Name="tuple.Item1.Name"
                           param-Tacticname="tuple.Item1.TacticName"
                           param-Platforms="string.Join(',',tuple.Item2)"
                           />
                }
            </div>
        </section>
    </div>
</section>